atomicwrites==1.1.5
attrs==18.1.0
awscli==1.15.74
boto3==1.7.73
botocore==1.10.73
boutiques==0.5.12
certifi==2018.4.16
chardet==3.0.4
click==6.7
clowdr==0.0.13
colorama==0.3.9
docutils==0.14
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
MarkupSafe==1.0
memory-profiler==0.52.0
more-itertools==4.3.0
pluggy==0.7.1
psutil==5.4.6
py==1.5.4
pyasn1==0.4.4
pytest==3.7.1
python-dateutil==2.7.3
PyYAML==5.1
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.13
simplejson==3.16.0
six==1.11.0
slurmpy==0.0.7
termcolor==1.1.0
urllib3==1.26.5
Werkzeug==0.15.3
